@import './src/css/mixins';
@import './src/css/variaveis';

@font-face {
    font-family: 'FonteDefault';
    src: url('../../public/fonts/MPLUSRounded1c-Black.ttf') format('truetype');
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: $WhiteDefault;
    font-family: 'FonteDefault';
}

img{
    width: 100%;
    height: 100%
}

li{
    list-style-type: none
}

@media (max-width: 359px) {
    @import './src/css/Mobile/capa';
    @import './src/css/Mobile/body';
}

@media (min-width: $WidthMobile){
    @import './src/css/Desktop/capa';
    @import './src/css/Desktop/body';
}


