#container_principal{
    @include setContainerCapaDesktop('../../public/background.png');
    @include setMinMaxWidth($WidthMobile, auto);
    height: 768px;
}

.logo{
    @include setWidthHeight(124.69px, 15.67px);
    @include setPositionAbsolute(40.33px, 0px, 0px, 40px);
}

#container_capa{
    @include setflexDirectionAlignJustifyWrap(row, center, center, nowrap);
    @include setMinMaxHeight($HeigthContainerCapaMobile, 683px);
    @include setPositionAbsolute(40px, 0px, 0px, 0px);
}

.circulo-marrom{
    background: #730000; 
    border-radius: 50%;  
    @include setMinMaxWidth($WidthCirculoMarrom, 587px);
    @include setMinMaxHeight($HeigthCirculoMarrom, 587px);
}

// .entregadora{
//     @include setMinMaxWidth($WidthEntregadora, 666px);
//     @include setMinMaxHeight($HeightEntregadora, 683px);
//     @include setPositionRelative(auto, 30px, 31px, auto);
// }

.entregadora{
    @include setMinMaxWidth($WidthEntregadora, 666px);
    @include setMinMaxHeight($HeightEntregadora, 683px);
    @include setPositionRelative(auto, 8px, 18px, auto);
}

.balaoAzul{
    @include setWidthHeight(116px, 129px);
    @include setPositionAbsolute(4px, 217px, auto, auto);
}

.balaoAmarelo{
    @include setWidthHeight(106px, 242px);
    //@include setPositionAbsolute(295px, 0px, 0px, 992px);
}

.letras-amarelas{
    @include setWidthHeight(48px, 224px);
    @include setPositionAbsolute(156px, 0px, 0px, 264px);
    @include setFontSizeFontWeightLineHeight(48px, 900, 56px);
    color: $YellowDefault;
}

.title-go{
    @include setWidthHeight(308px, 100px);
    @include setPositionAbsolute(280px, 0px, 0px, 320px);
    @include setFontSizeFontWeightLineHeight(160px, 900, 100px);
    color: $WhiteDefault;
}

.description{
    &::after{
        content: 'Enjoy a good ramen in the comfort of your house. \A Create your own ramen \A and choose your favorite \A flavour combination!';
        white-space: pre-line;
        @include setWidthHeight(201px, 124px);
        @include setPositionAbsolute(404px, 0px, 0px, 273px);
        @include setFontSizeFontWeightLineHeight(16px, 400, 24px);
        text-align: left;
        color: $WhiteDefault;
    }
}

.button-blue{
    @include setWidthHeight(213px, 60px);
    @include setPositionAbsolute(552px, 0px, 0px, 273px);
    background-color: $BlueDefault;
    border-radius: 50px;
    &::before{
        content: 'order now';
        @include setWidthHeight(157px, 21px);
        @include setFontSizeFontWeightLineHeight(14px, 800, 20.79px);
        @include setPositionAbsolute(19px, 0px, 0px, 16px);
        text-align: left;
        color: #FFFFFF;
    }
}

