@mixin setWidthHeight($width, $height){
    width: $width;
    height: $height;
}

@mixin setMinMaxWidth($min, $max){
    min-width: $min;
    max-width: $max;
}

@mixin setMinMaxHeight($min, $max){
    min-height: $min;
    max-height: $max;
}

@mixin setflexDirectionAlignJustifyWrap($direction, $align, $justify, $wrap){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin setPositionAbsolute($top, $right, $bottom, $left){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin setPositionRelative($top, $right, $bottom, $left){
    position: relative;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin setFontSizeFontWeightLineHeight($fontSize, $fontWeight, $lineHeight){
    text-align: center;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

@mixin setContainerCapa($width, $height, $imageUrl){
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url($imageUrl);
    background-size: cover; 
    background-position: center;
    @include setWidthHeight($width, $height);
}

@mixin setContainerCapaDesktop($imageUrl){
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url($imageUrl);
    background-size: cover; 
    background-position: center;
}

