// Colors

$YellowDefault: #FFC024;
$WhiteDefault:  #FAFAED;
$White: #FFFFFF;
$BlueDefault: #1820EF;
$BlackDefault: #000000;
$OrangeDefault: #FF4E42;

// Sizes Mobile

$WidthMobile: 360px;
$HeigthCapaMobile: 677px;
$WidthContainerCapaMobile: 265.06px;
$HeigthContainerCapaMobile: 269px;
$WidthCirculoMarrom: 231.19px;
$HeigthCirculoMarrom: 231.19px;
$WidthEntregadora: 262.3px;
$HeightEntregadora: 269px;